<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available points by club</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/board.css') }}">
</head>
<body>
<table style="width:80%">
    <caption>Available points</caption>
    <thead>
        <tr style="height:60px">
            <th style="width:70%">Club</th>
            <th>Available points</th>
        </tr>
    </thead>
    <tbody>
    {% for club in clubs %}
    <tr>
       <td>{{ club['name'] }}</td>
       <td>{{ club['points'] }}</td>
    </tr>
    {% endfor%}
    <style>
        tbody tr:nth-child(odd):hover {
        background-color:#e6efef;
        }
        tbody tr:nth-child(even):hover {
        background-color:#e6efef;
        }
    </style>
    </tbody>
</table>
<a href="{{ url_for('index') }}">Home</a>
</body>
</html>